.body {
    margin: 0 auto;
}

.item {
    padding: 8px;
    border-radius: 6px;
    border: 4px solid tomato;
}

.task-1.container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.task2.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    align-items: center;
}

/* .task2 .item-1 {
    grid-column-start: 2;
    grid-column-end: 6;
} */
/* .task2 .item-1 {
    grid-column-start: 2;
    grid-column-end: span 4;
} */
.task2 .item-1 {
    grid-column: 2 / span 4
}

.task2 .item-2 {
    grid-column: 6 / span 6
}

.height-50 {
    height: 50vh;
}

/* .task-3-1.container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
    margin: auto;
    width: 30vw;
} */

.task-3-1.container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
}

@media (min-width: 760px) {
    .task-3-1.container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 1fr auto;
    }

    .task-3-1 .header {
        grid-column: 1 / span 12;
    }

    .task-3-1 .navigation {
        grid-column: 1 / span 12;
    }


    .task-3-1 .main {
        grid-column: 3 / span 10;
    }

    .task-3-1 .sidebar {
        grid-column: 1 / span 2;
        grid-row: 3;
    }



    .task-3-1 .ads {
        grid-column: 1 / span 2;
    }

    .task-3-1 .footer {
        grid-column: 3 / span 10;
    }
}