body {
  font-size: 20px;
  width: 60%;
  margin: 10px auto;
}

.errorMsg {
  max-width: 350px;
  color: red;
  padding: 2px 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  width: 20%;
  padding: 5px;
}

.form-control input {
  width: 40%;
  padding: 5px;
}

.form-control button {
  width: 160px;
  padding: 5px 10px;
}