.codeBox {
    background-color: tomato;
    width: 30rem;
    height: 2rem;
    border-radius: 10px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.copyContainer {
    color: white;
}

.copyIcon {
    cursor: pointer;
}

.copiedAlert {
    position: absolute;
    background-color: aliceblue;
    bottom: -5px;
    left: 0;
    right: 0;
    max-width: 15rem;
    border-radius: 5px;
    border-left: 4px solid green;
    transform: translate(0px, 20px);
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}